header{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    color: white;
}
footer{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: white;
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
.content{
    display: flex;
    flex-direction: row-reverse;
}
main{
    flex: 3;
    padding: 20px;
    background: green;
}
aside{
    flex: 1;
    padding: 20px;
    background:rgb(221, 191, 17);
}

#restart{
    background-color: white;
    width: 5em;
    height: 2em;
}

.toprow{
    display:flex;
    align-items: flex-start;
    margin-bottom: 20px;
}
.deck {
    display: flex;
    width: 75px;
    min-height: 125px;
    padding: 5px;
    border: solid white;
    border-radius: 10px;
    margin-right: 10px;
}
.Waste {
    display: flex;
    width: 75px;
    min-height: 125px;
    padding: 5px;
    border: solid white;
    border-radius: 10px;
}

.foundations{
    margin-left: 95px;
    display:flex;
    gap: 10px;
}
.foundat{
    width: 75px;
    min-height: 125px;
    border-radius: 5px;
    padding:5px;
    border: solid white;
    border-radius: 10px;
    margin-right: 5px;
}


.tableau{
    display:flex;
    gap: 10px;
}
.column{
    width: 75px;
    min-height: 125px;
    border-radius: 5px;
    padding:5px;
    border: solid white;
    border-radius: 10px;
}